.Card1 {
    /* border: 2px solid white; */
    /* margin-top: 100px; */
    height: 300px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* margin: 20px; */
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    margin: 100px 20px 0px 20px;
    padding: 0px 22px 0px 22px;
  }
  
  .Card1 img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* padding: 10px; */
    height: 100%;
    width: 19%;
    border-radius: 5px;
  }